<h2 class="content-block">Notas</h2>
<div class="content-block dx-card responsive-paddings">

  <div id="data-grid-demo">
    <dx-data-grid
      id="gridContainer"
      [dataSource]="lista"
      keyExpr="id"
      [showBorders]="true"
      (onInitNewRow)="onInitNewRowGrid($event)"
      (onSaved)="onSaved($event)"

    >

      <dxo-paging [enabled]="false"></dxo-paging>
      <dxo-editing
        mode="popup"
        [allowUpdating]="true"
        [allowAdding]="true"
        [allowDeleting]="true"
        [useIcons]="true">

        <dxo-popup
          title="Nota"
          [dragEnabled]="true"
          [showTitle]="true">
        </dxo-popup>

        <dxo-form>
          <dxi-item dataField="dataCompra" editorType="dxDateBox" dataType="date"></dxi-item>
          <dxi-item dataField="nomeCliente"></dxi-item>
          <dxi-item dataField="numero"></dxi-item>
          <dxi-item itemType="empty"></dxi-item>
          <dxi-item dataField="itens" [colSpan]="2"></dxi-item>
        </dxo-form>

      </dxo-editing>

      <dxi-column dataField="dataCompra" dataType="date" format="dd/MM/yyyy"></dxi-column>
      <dxi-column dataField="nomeCliente"></dxi-column>
      <dxi-column dataField="numero"></dxi-column>
      <dxi-column dataField="itens" [visible]="false" editCellTemplate="gridEditTemplate"></dxi-column>

      <div *dxTemplate="let data of 'gridEditTemplate'">
        {{data.data | firstKeysToConsole}}
        <dx-data-grid [(dataSource)]="data.data">

          <dxo-editing
            mode="popup"
            [allowUpdating]="true"
            [allowAdding]="true"
            [allowDeleting]="true"
            [useIcons]="true">

            <dxo-popup
              title="NotaItens"
              [dragEnabled]="true"
              [showTitle]="true"
              [width]="700"
              [height]="525"
              [position]="{ my: 'top', at: 'top'}">
            </dxo-popup>

            <dxo-form>
              <dxi-item dataField="numero"></dxi-item>
              <dxi-item dataField="nomeProduto"></dxi-item>
              <dxi-item dataField="quantidade"></dxi-item>
            </dxo-form>

          </dxo-editing>

          <dxi-column dataField="numero"></dxi-column>
          <dxi-column dataField="nomeProduto"></dxi-column>
          <dxi-column dataField="quantidade"></dxi-column>

        </dx-data-grid>
      </div>

    </dx-data-grid>

  </div>
</div>
