<div id="data-grid-demo">
  <dx-data-grid
    id="gridContainer"
    [dataSource]="dataSource"
    [showBorders]="true">

    <dxo-paging [enabled]="false"></dxo-paging>
    <dxo-editing
      mode="popup"
      [allowUpdating]="true"
      [allowAdding]="true"
      [allowDeleting]="true"
      [useIcons]="true">

      <dxo-popup
        title="Nota"
        [dragEnabled]="true"
        [showTitle]="true"
        [width]="700"
        [height]="525">
      </dxo-popup>


      <dxo-form>
        <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
          <dxi-item editorType="dxDateBox" dataField="dataCompra" dataType="date"></dxi-item>
          <dxi-item dataField="nomeCliente"></dxi-item>
          <dxi-item dataField="numero"></dxi-item>
        </dxi-item>
      </dxo-form>

    </dxo-editing>

    <dxi-column dataField="dataCompra" dataType="date" format="dd/MM/yyyy"></dxi-column>
    <dxi-column dataField="nomeCliente">
      <dxo-lookup
        [dataSource]="clientes"
        displayExpr="nome"
        valueExpr="nome">
      </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="numero"></dxi-column>
  </dx-data-grid>
</div>
